* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes wrong {
    100%, 
    0% {
        border-color: darkgray;
    }
    50% {
        border-color: red;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning {
    padding: 10px;
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.grid div {
    padding: 0px;
    margin: 0px;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 5px solid darkgray;
    font-size: 45px;
    text-align: center;
}

.copyright {
    padding: 20px;
}